<div class="modal fade" id={{id}} tabindex="-1" role="dialog" aria-labelledby={{title_id}} aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title" id={{title_id}}>Delete {{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          Are You Sure You Want to Delete This {{title}}?
        </div>
        <div class="modal-footer">
          <a
            <button type="button" class="btn btn-robo-main"
              href="{% url url_reverse condo condo_id model_id %}">
              Yes
            </button>
          </a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
    </div>
  </div>
</div>
