{% extends 'base-robocondo.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<form action="" method="post">
  {% csrf_token %}
  {% if messages %}
  <ul class='messages list-unstyled'>
    {% for message in messages %}
    <li>
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <table class="table">
    <tbody>
      {% for field in form.visible_fields %}
        <tr>
          <td>
            {{ field.label }}
          </td>
          <td>
            {% if field.label == 'Date' %}
              {{ field|add_class:'form-control date-rfs' }}
            {% else %}
              {{ field|add_class:'form-control' }}
            {% endif %}
          </td>
        {% endfor %}
        </tr>
        <tr>
          <td>
            {% for key, value in form.errors.items %}
              {{ value }}
          </td>
        </tr>
      {% endfor %}
      {% for field in form.hidden_fields %}
        <tr>
          {% if field.name == 'years' %}
              {{ field|add_class:'rfs-years'}}
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
    <input class="btn btn-primary" type="submit" value="Update"/>
</form>
THis is a test
<input class="rfs-years"/>
{% endblock %}

{% block javascript %}
  <script>
    $(".date-rfs").datepicker({
      dateFormat: "dd-mm-yy",
      changeMonth: true,
      changeYear: true,
    });

    // Set years hidden field based on the first and last year fields
    $(function() {
      $('#id_first_year').change(function() {
          $('.rfs-years').val(
                          $('#id_last_year').val() -  $(this).val() + 1
                        );
      }).change();
    });
    $(function() {
      $('#id_last_year').change(function() {
          $('.rfs-years').val(
                          $(this).val() - $('#id_first_year').val() + 1
                        );
      }).change();
    });

  </script>
{% endblock %}
